.page {
  max-width: 375px;
  margin: 0 auto;
  background-color: #F8F5F2;
  font-family: 'Inter', sans-serif;
  color: #3C2F2D;
  line-height: 1.5;
}

.header {
  height: 80px; /* УДАЛИТЬ */
  background-color: CornflowerBlue;
}

.content {
  
}

.section {
  
}

.about {
  height: 100px; /* УДАЛИТЬ */
  background-color: White;
}

.img_about {
  height: 100%;
  width: auto;
  object-fit: contain;
  max-width: calc(20% - 4px);
}

.gallery {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: LightSkyBlue;
  gap: 10px;
}

.img_gallery {
  width: 48%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.process {
  height: 100px; /* УДАЛИТЬ */
  background-color: White;
}

.workshops {
  padding: 10px;
  background-color: LightSkyBlue;
}

.contacts {
  height: 100px; /* УДАЛИТЬ */
  background-color: White;
}

.footer {
  height: 80px; /* УДАЛИТЬ */
  background-color: CornflowerBlue;
}

/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}

p {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

#map-container {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #ddd;
}